.build-section {
  > * {
    user-select: none;
  }
  
  &--title {
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
    margin: 1.5rem 0;
  }
  
  &--items,
  &--powers {
    position: relative;
  }
  
  &--items {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    
    .item-block:hover ~ .tooltip-container {
      opacity: 1;
      visibility: visible;
    }
    
    .item-block {
      padding: 0;
      
      img {
        width: 58px;
        height: 58px;
      }
    }
    
    // For items near the right edge
    &:nth-child(3n) .tooltip-container {
      right: 0;
      left: auto;
      transform: none;
    }

    // For middle items
    &:nth-child(3n-1) .tooltip-container {
      left: 50%;
      transform: translateX(-50%);
    }

    // For items near the left edge
    &:nth-child(3n-2) .tooltip-container {
      left: 0;
      transform: none;
    }
  }
  
  &--powers {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .tooltip-container {
      top: 70%;
    }

    .power-block:hover ~ .tooltip-container {
      opacity: 1;
      visibility: visible;
    }
    
    &.power-active {
      .power-block {
        border: 1px solid transparent;
        
        &.no-img {
          border: 1px solid rgba($color-warning, 1);
          background-color: rgba($color-warning, .6);
        }
        
        &:hover {
          border: 1px solid rgba($color-warning, 1);
        }
      }
    }

    // For items near the right edge
    &:nth-child(4n) .tooltip-container {
      right: 0;
      left: auto;
      transform: none;
    }

    &:nth-child(4n-1) .tooltip-container {
      right: 0;
      left: auto;
      transform: none;
    }

    // For middle items
    &:nth-child(4n-2) .tooltip-container {
      left: 50%;
      transform: translateX(-50%);
    }

    // For items near the left edge
    &:nth-child(4n-3) .tooltip-container {
      left: 0;
      transform: none;
    }
  }
}