.build-section {
  > * {
    user-select: none;
  }
  
  &--title {
    display: flex;
    justify-content: center;
    margin: 1rem 0 0;
    
    section {
      margin-left: .5rem;
    }
    
    p {
      margin: 0;
    }
    
    .hero-icon {
      width: 64px;
      height: 64px;

      @include media-breakpoint-up(md) {
        width: 54px;
        height: 54px;
      }

      @include media-breakpoint-up(lg) {
        width: 60px;
        height: 60px;
      }
    }
    
    input {
      max-width: 1000px;
      
      @include media-breakpoint-up(md) {
        max-width: 150px;
      }
      
      @include media-breakpoint-up(lg) {
        max-width: 1000px;
      }
    }
    
    .hero-build-name {
      font-size: 1.25rem;
      font-weight: 600;
      font-style: italic;
      margin-top: .4rem;
      max-width: 100%;
      
      @include media-breakpoint-up(md) {
        font-size: 1rem;
      }
    }
  }
  
  &--btn-wrapper {
    margin: .5rem 0;
    gap: 1rem;
  }
  
  &--cost {
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
    margin: 1.5rem 0 0;
    
    .cash-exceeded {
      color: $color-error;
    }
  }
  
  &--cash-info {
    position: relative;
    
    .tooltip-container {
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      
      .tooltip-content span {
        font-weight: bold;
        color: $color-white;
      }
    }
    
    .build-section--cost-small {
      text-align: center;
      margin-bottom: 1.25rem;

      &:hover ~ .tooltip-container {
        opacity: 1;
        visibility: visible;
      }
      
      span {
        color: $color-white;
        
        &.cash-exceeded {
          color: $color-warning;
        }
      }
    }
  }
  
  &--items,
  &--powers {
    position: relative;
  }
  
  &--items {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
    
    &.round-change {
      .item-block {
        @include animation($name: pulse, $duration: .2s, $timing: ease-in-out)
      }
    }
    
    .item-block:hover ~ .tooltip-container {
      opacity: 1;
      visibility: visible;
    }
    
    .item-block {
      padding: 0;
      
      img {
        width: 56px;
        height: 56px;
      }
    }
    
    // For items near the right edge
    &:nth-child(3n) .tooltip-container {
      right: 0;
      left: auto;
      transform: none;
    }

    // For middle items
    &:nth-child(3n-1) .tooltip-container {
      left: 50%;
      transform: translateX(-50%);
    }

    // For items near the left edge
    &:nth-child(3n-2) .tooltip-container {
      left: 0;
      transform: none;
    }
  }
  
  &--powers {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .tooltip-container {
      top: 70%;
    }

    .power-block:hover ~ .tooltip-container {
      opacity: 1;
      visibility: visible;
    }
    
    &.power-active {
      @include animation($name: pulse, $duration: .2s, $timing: ease-in-out);
      
      .power-block {
        border: 1px solid transparent;
        
        &.no-img {
          border: 1px solid rgba($color-warning, 1);
          background-color: rgba($color-warning, .6);
        }
        
        &:hover {
          border: 1px solid rgba($color-warning, 1);
        }
      }
    }

    // For items near the right edge
    &:nth-child(4n) .tooltip-container {
      right: 0;
      left: auto;
      transform: none;
    }

    &:nth-child(4n-1) .tooltip-container {
      right: 0;
      left: auto;
      transform: none;
    }

    // For middle items
    &:nth-child(4n-2) .tooltip-container {
      left: 50%;
      transform: translateX(-50%);
    }

    // For items near the left edge
    &:nth-child(4n-3) .tooltip-container {
      left: 0;
      transform: none;
    }
  }
}