.changelog {
  &-trigger {
    cursor: pointer;
    font-weight: bold;
    font-style: italic;
    background-color: transparent;
    color: $color-shield;
  }

  &-content {
    background-color: $color-background;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    max-height: 80vh;
    overflow: auto;
    position: relative;
  }

  &-title {
    margin-top: 0;
    margin-bottom: 16px;
    font-style: normal;
  }
  
  &-title,
  &-close,
  &-date {
    color: $color-white;
  }

  &-list {
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    margin: 0;
    padding-left: 20px;

    li {
      margin-bottom: 8px;
    }
    
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}
