.hero-button {
  width: 64px;
  height: 64px;
  background-color: transparent;

  img {
    width: 54px;
    height: 54px;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
    border: 1px solid transparent;
  }
  
  @include media-breakpoint-between(md, xl) {
    width: 48px;
    height: 48px;
    
    img {
      width: 44px;
      height: 44px;
    }
  }
  
  @include media-breakpoint-between(xl, xxl) {
    width: 56px;
    height: 56px;

    img {
      width: 48px;
      height: 48px;
    }
  }
  
  &--category {
    display: block;
    margin: .5rem;
    
    @include media-breakpoint-down(md) {
      margin: 1rem .5rem;
    }
    
    @include media-breakpoint-between(md, xl) {
      display: inline;
      width: unset;
    }
    
    @include media-breakpoint-up(xl) {
      display: inline;
      width: unset;
      margin: 1rem;
    }
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
  
  &.active {
    img {
      transform: scale(1.1);
      border: 1px solid rgba($color-white, 1);
    }
  }
  
  &--wrapper {
    transition: all 0.2s ease-in-out;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    
    &.show {
      opacity: 1;
      max-height: 500px;
    }
  }
}