.item-block {
  border: 1px solid rgba($color-accent, 0.6);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: $color-background;
}

.item {
  &-common .item-block{
    background-color: $color-common;
    transition: all 0.2s ease-in-out;
    outline: 1px solid transparent;
    
    &:hover {
      outline: 3px solid $color-common;
    }
  }
  
  &-rare .item-block{
    background-color: $color-rare;
    transition: all 0.2s ease-in-out;
    outline: 1px solid transparent;

    &:hover {
      outline: 3px solid $color-rare;
    }
  }
  
  &-epic .item-block{
    background-color: $color-epic;
    transition: all 0.2s ease-in-out;
    outline: 1px solid transparent;

    &:hover {
      outline: 3px solid $color-epic;
    }
  }
}