.power-card {
  border: 1px solid rgba($color-white, .5);
  border-radius: 4px;
  background-color: $color-power-card;
  text-transform: none;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  
  &.active {
    opacity: .6;
    border: 1px solid rgba($color-warning, 1);
  }
  
  p {
    margin: 0;
    text-align: left;
  }
  
  b {
    color: $color-white;
  }

  &--title {
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-wrap: nowrap; // Prevents wrapping
    width: 100%;
    margin: .25rem;
    
    @include media-breakpoint-up(xl) {
      margin: .5rem;
    }

    img {
      width: 64px;
      object-fit: cover;
      flex-shrink: 0;
      padding: 0;
      
      @include media-breakpoint-up(md) {
        width: 48px;
      }
      
      @include media-breakpoint-up(xl) {
        width: 64px;
      }
    }

    p {
      color: $color-white;
      white-space: normal;
      overflow-wrap: break-word;
      flex: 1;
      min-width: 0;


      @include media-breakpoint-up(xxl) {
        font-size: 1.125rem;
      }
    }
  }
  
  &--description {
    background-color: $color-background;
    border-radius: 8px;
    padding: .25rem 0;
    height: 100%;
    margin: .25rem;

    @include media-breakpoint-up(xl) {
      margin: .5rem;
    }
  }
  
  &:hover {
    border: 1px solid rgba($color-white, 1);
  }
}