.power-card {
  border: 1px solid rgba($color-white, .5);
  border-radius: 4px;
  background-color: $color-power-card;
  text-transform: none;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  
  p {
    margin: 0;
  }
  
  b {
    color: $color-white;
  }
  
  &--title {
    font-weight: bold;
    margin: .5rem;
    
    p {
      color: $color-white;
      
      @include media-breakpoint-up(xxl) {
        font-size: 1.125rem;
      }
    }
  }
  
  &--description {
    background-color: $color-background;
    border-radius: 8px;
    margin: .5rem;
    padding: .25rem 0;
    height: 100%;
  }
  
  &:hover {
    border: 1px solid rgba($color-white, 1);
  }
}