.tooltip-container {
  position: absolute;
  top: 130%;
  left: 10%;
  background-color: $color-background;
  color: #fff;
  padding: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  white-space: normal;
  text-transform: none;
  width: max-content;
  max-width: 270px;
  word-wrap: break-word;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  z-index: 100;
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .tooltip-stat {
    margin: 2px 8px 4px -1rem;
    align-self: baseline;
  }
  
  .tooltip-content {
    margin-top: 8px;
    margin-left: -16px;
    
    &--title {
      color: $color-white;
      font-size: 1.125rem;
      font-weight: bold;
    }
    
    &--subtitle {
      margin: 0;
      font-size: .875rem;
      font-weight: bold;
      color: $color-warning;
    }
    
    &--attribute {
      margin-left: 1.125rem;
      margin-bottom: .125rem;
      display: flex;
      
      b {
        color: $color-white;
      }
    }
    
    hr {
      margin: .5rem 0;
    }
  }
  
  p {
    margin: .5rem 0 0;
  }
}

.buyable-item {
  position: relative;

  // For items near the right edge
  &:nth-child(3n) .tooltip-container {
    right: 0;
    left: auto;
    transform: none;
  }

  // For middle items
  &:nth-child(3n-1) .tooltip-container {
    left: 50%;
    transform: translateX(-50%);
  }

  // For items near the left edge
  &:nth-child(3n-2) .tooltip-container {
    left: 0;
    transform: none;
  }
  
  .item-block:hover ~ .tooltip-container {
    opacity: 1;
    visibility: visible;
  }
}
