.hidden {
  display: none !important;
}

.text-align-center {
  text-align: center !important;
}

.text-align-left {
  text-align: left !important;
}

.bordered {
  border-radius: 8px;
  border: 2px solid rgba($color-white, 0.2);
  
  &:not(.bordered-side) {
    background-color: rgba($color-background, 0.2);
    border-bottom: 128px solid transparent;
  }
  
  &-side {
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
  }
}

.b {
  &-lazy {
    opacity: 0;
    transition: opacity .3s;
  }
  
  &-loaded {
    opacity:1;
  }
}

.animated-ellipsis::after {
  content: '...';
  position: absolute;
  @include animation($name: ellipsis, $duration: 1.25s, $timing: linear, $iteration: infinite);
}
