.hidden {
  display: none !important;
}

.text-align-center {
  text-align: center !important;
}

.text-align-left {
  text-align: left !important;
}

.bordered {
  border-radius: 8px;
  border: 2px solid rgba($color-white, 0.2);
  
  &:not(.bordered-side) {
    background-color: rgba($color-background, 0.2);
    border-bottom: 64px solid transparent;
  }
  
  &-side {
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
  }
}

.b {
  &-lazy {
    opacity: 0;
    transition: opacity .3s;
  }
  
  &-loaded {
    opacity:1;
  }
}

.animated-ellipsis::after {
  content: '...';
  position: absolute;
  @include animation($name: ellipsis, $duration: 1.25s, $timing: linear, $iteration: infinite);
}

.stat {
  &-wp {
    color: $color-error !important;
  }
  &-ap {
    color: $color-ap !important;
  }
}

.currency {
  width: 1.25rem;
  object-fit: cover;
  margin-bottom: 4px;
  margin-right: 4px;
  
  &--small {
    width: 1rem;
    margin-bottom: 2px;
    margin-right: 2px;
  }

  + span {
    color: $color-white;
  }
}

.build-copied {
  display: none;
  font-weight: bold;
  color: $color-success;
  filter: drop-shadow(0 0 1px $color-black);
  
  &.show {
    display: inline;
  }
}

.text-small {
  font-size: .75rem;
  color: $color-white;
}

.highlighted {
  @include animation($name: highlight, $duration: 4s, $timing: ease-out);
}
