$color-primary: #142b47;
$color-secondary: #0ea8c8;
$color-accent: #b6d1f3;
$color-background: #1A2133;

$color-success: #16a531;
$color-warning: #FFD992;
$color-error: #d74942;

$color-common: #16a531;
$color-rare: #217dbe;
$color-epic: #8426d2;

$color-black: #091d1b;
$color-dark-grey: #2c2f2f;
$color-grey: #545958;
$color-lighter-grey: #6d7372;
$color-light-grey: #B5B5B5;
$color-white: #F8F9FA;
$color-disabled: #E0E0E0;
$color-text: $color-accent;
$color-power-card: #3f4d6d;

$drop-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, .25));
$drop-shadow-blur: drop-shadow(0px 0px 6px rgba(0, 0, 0, .25));
$drop-shadow-small: drop-shadow(0px 1px 1px rgba(0, 0, 0, .25));

/* bootstrap overrides */
$dropdown-link-active-bg: $color-secondary;
$focus-ring-color: $color-background;
$form-switch-focus-color: $color-secondary;
$form-switch-color: $color-primary;
$form-check-input-checked-bg-color: $color-primary;
$border-color: $color-grey;
$navbar-light-active-color: $color-text;
$grid-gutter-width: 16px;

$container-max-widths: (
  sm: 560px,
  md: 752px,
  lg: 1000px,
  xl: 1280px,
  xxl: 1440px
);