#root {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  place-content: center;
}

input[class*="round"] {
  padding: 0 12px;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;

  &:checked + img {
    opacity: 1;
  }

  &:hover + img {
    opacity: 1;
  }

  + img {
    cursor: pointer;
    opacity: .5;
  }
}

input {
  background-color: $color-primary;
  color: $color-text;
  border: 1px solid rgba($color-text, .2);
  padding: 4px 8px;
  
  &::placeholder {
    color: rgba($color-text, .8);
  }
}